.gym {
    width: 270px;
    height: 430px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.gym img {
    width: 250px;
    height: 13s0px;
    border-radius: 15px;
    padding: 10px;

}

.gym h3 {
    padding-left: 10px;
}

.gym p {
    padding-left: 10px;
    font-weight: 500;
    padding-top: 0;
}

.gym-details {
    color: gray;
}

.add-btn {
    width: 100%;
    background-color: rgb(28, 161, 106);
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-weight: 600;
    color: white;
    position: absolute;
    bottom: 0;
}